[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/freetype"]
	path = external/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp
[submodule "external/tinyxml2"]
	path = external/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "external/tinydir"]
	path = external/tinydir
	url = https://github.com/cxong/tinydir
[submodule "external/algorithm"]
	path = external/algorithm
	url = git@github.com:boostorg/algorithm.git
